{% extends 'index.html' %}

{% block content %}

<!--
    {{ context.commits }}
    {{ context.projects }}

-->


<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col" style="text-align: center">ID</th>
            <th scope="col" style="text-align: center">Nome do projeto</th>
            <th scope="col" style="text-align: center">Autor</t style="text-align: center">
            <th scope="col" style="text-align: center">Commits</th>
        </tr>
    </thead>
    <tbody>
        {% for j in context.projects %}
        <tr>
            <th scope="row" style="text-align: center">{{j.id}}</th>
            <td style="text-align: center"> {{ j.name }}</td>
            <td style="text-align: center"> {{ j.owner.name }}</td>
            <td style="text-align: center">
                
                    <a href="/gitlab/commits/{{ j.id }}">
                        <i style="width: 102px" class="fas fa-journal-whills"></i>
                        </a>
                
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}






<!-- _zxjndwab2ifAqm56mzR ..-->